/* Google Fonts CDN */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

/* Google Fonts CDN */

/* Common CSS */

body{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
a{
    text-decoration: none;
}
.container{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
/* Common CSS */

/* Navbar */
#navbar{
    background: rgba(255, 144, 14, 0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.nav-logo a{
    font-size: 35px;
    font-weight: 600;
    color:rgba(19, 19, 19, 1);

}
.nav-menu ul{
    display: flex;
    
    
}
.nav-menu li{
    list-style: none;
    margin-left: 20px;
    
    
}
.nav-menu ul li a{
    color:rgba(58, 58, 58, 1);
    font-size: 18px;
    font-weight: 500;
}
.nav-menu ul li a:hover{
    color: #FF900E;
    transition: all linear 0.5s;
}
/* Navbar*/

/* Banner */

#banner{
    background: rgba(255, 144, 14, 0.1);
    display: flex;
    padding-bottom: 30px;
}
.banner-item{
    width: 80%;
    margin: 0 auto;

}
.banner-text{
    text-align: center;
}
.title{

}
.sub-title{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
}
.btn-primary{
    background: #ff900E;
    padding: 20px 25px;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
}
.btn-primary:hover{
    color: #FF900E;
    background: white;
    transition: all linear .5s;
}
.banner-img{
    margin-top: 30px;
}
/* Banner */

/* Features Part Start*/

.feature-items{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    
}
.feature-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
}
.feature-sub-title{
    margin: 25px 0px;
    color: #727272;
}
.gray{
     color: #727272;;
}
.black{
    color: #131313;
}
.golden{
    color: #FF900E;
}
/* Features Part End*/


/* Experiance Part Start */
#experiance{
    padding-top: 130px;
}
.text-part{
    padding-right: 80px;
}
.header-title{
    font-size: 35px;
    font-weight: 700;
}
.border{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.article{
    margin-left: 20px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 10px #f3efef;
}
.experiance-btn {
    padding: 24px 32px;
    background: rgb(255, 144, 14);
    position: relative;
    top: 287px;
    right: 345px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
}

/* Experiance Part End */

/* Some Facts part Start */

#some-facts{
    width: 80%;
    padding-top: 100px;
    margin: 0 auto;
}
.facts-title{
    font-weight: 700;
    font-size: 35px;
}
.facts-sub-title{
    color: #727272;
    margin-top: 25px;
    margin-bottom: 100px;
}
.fact-items{
    display: flex;
    justify-content: space-around;
}
.item{
    text-align: center;
    padding: 25px 25px;
    border-radius: 5px;
    border: 2px solid #FF900E;
}
.item:hover{
    background: #FF900E;
    color: white;
    transition: all linear 0.5s;
}
.amount{
    font-size: 35px;
}
/* Some Facts part End */


/* Responsive (Mobile Device)  */

@media only screen and (max-width:576px) {
    .container , .fact-items{
        flex-direction: column;
    }
    #navbar , .nav-menu ul{
        padding-top: 20px;
        flex-direction: column;
    }
    .nav-logo a{
        font-size: 20px;
    }
    .title{
        font-size: 30px;
    }
    .btn-primary{
        padding: 15px 20px;
        font-size: 16px;

    }
    .banner-img img{
        margin-bottom: 15px;
    }
    .feature-items{
        display: flex;
        flex-direction: column;
    }
    .feature-img{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .img-part img{
        margin-top: 30px;
        width: 100%;
    }
    .experiance-btn {
        margin-left: 700px;
        margin-top: -250px;
    }
    #some-facts{
        margin-top: 200px;
    }
    .item{
        margin-top: 10px;
    }
    
    
}

/* Responsive (Mobile Device)  */