/* Google Fonts CDN */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

/* Google Fonts CDN */

/* Common CSS */

body{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
a{
    text-decoration: none;
}
.container{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
/* Common CSS */

/* Navbar */
#navbar{
    background: rgba(255, 144, 14, 0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.nav-logo a{
    font-size: 35px;
    font-weight: 600;
    color:rgba(19, 19, 19, 1);

}
.nav-menu ul{
    display: flex;
    
    
}
.nav-menu li{
    list-style: none;
    margin-left: 20px;
    
    
}
.nav-menu ul li a{
    color:rgba(58, 58, 58, 1);
    font-size: 18px;
    font-weight: 500;
}
.nav-menu ul li a:hover{
    color: #FF900E;
    transition: all linear 0.5s;
}
/* Navbar*/

/* Banner */

#banner{
    background: rgba(255, 144, 14, 0.1);
    display: flex;
    padding-bottom: 30px;
}
.banner-item{
    width: 80%;
    margin: 0 auto;

}
.banner-text{
    text-align: center;
}
.title{

}
.sub-title{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
}
.btn-primary{
    background: #ff900E;
    padding: 20px 25px;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
}
.btn-primary:hover{
    color: #FF900E;
    background: white;
    transition: all linear .5s;
}
.banner-img{
    margin-top: 30px;
}
/* Banner */

/* Features Part Start*/

.feature-items{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    
}
.feature-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
}
.feature-title{
    font-size: 40px;
}
.feature-sub-title{
    margin: 25px 0px;
    color: #727272;
}
.gray{
     color: #727272;;
}
.black{
    color: #131313;
}
.golden{
    color: #FF900E;
}
/* Features Part End*/


/* Experiance Part Start */
#experiance{
    padding-top: 130px;
}
.text-part{
    padding-right: 80px;
}
.header-title{
    font-size: 35px;
    font-weight: 700;
}
.border{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.article{
    margin-left: 20px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 10px #f3efef;
}
.experiance-btn {
    padding: 24px 32px;
    background: rgb(255, 144, 14);
    position: relative;
    top: 270px;
    right: 320px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
}
/* Experiance Part End */

/* Some Facts part Start */

#some-facts{
    width: 80%;
    padding-top: 100px;
    margin: 0 auto;
}
.facts-title{
    font-weight: 700;
    font-size: 35px;
}
.facts-sub-title{
    color: #727272;
    margin-top: 25px;
    margin-bottom: 100px;
}
.fact-items{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    align-items: center;
}
.item{
    padding-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    height: 200px;
    width: 300px;
    border-radius: 5px;
    border: 4px solid #FF900E;
}
.item p{
    font-size: 20px;
    font-weight: 700;
}
.item:hover{
    background: #FF900E;
    color: white;
    transition: all linear 0.5s;
}
.amount{
    font-size: 35px;
}
/* Some Facts part End */
/* Our Team Section part Start */


.our-team{
    width: 80%;
    margin: 0 auto;
    background: #ECEDF2;
    border-radius: 10px;
}
.team-title{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.members{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    padding: 100px 100px;
}
.member{
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 80%;

}

.member img{
    width: 100%;
    height: auto;
    padding: 10px 0px;
}

.member h2{
    width: 100%;
    padding: 5px 5px;
    font-weight: 700;
    text-align: center;
}
.icon{
    font-size: 30px;
    color:#FF900E ;
    text-align: center;
}
.member p{
    font-size: 20px;
    font-weight: 600;
    color: #727272;
    text-align: center;
}



/* Our Team part End */
/* Sponsor Part Start */

#sponsor{
    display: flex;
    padding-bottom: 30px;
    padding-top: 100px;
}
.sponsor{
    width: 80%;
    margin: 0 auto;

}
.sponsor-text{
    text-align: center;
}
.sponsor-title{
    font-weight: 700;
    font-size: 45px;
}
.sponsor-sub-title{
    font-weight: 400;
    font-size: 16px;
}
.sponsor-companys{
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
}
.company img{
    filter: grayscale(100%);
}


/* Sponsor Part End */

/* Footer Part Start */

.footer-text{
    text-align: center;
    margin: 100px auto;
    background:rgba(255, 144, 14, 0.1);
    font-weight: 600;
    color: #727272;
}

/* Footer Part End */


/* Responsive (Mobile Device)  */

@media only screen and (max-width:576px) {
    .container , .fact-items{
        flex-direction: column;
    }
    #navbar{
        padding-top: 20px;
        flex-direction: column;
    }
    .nav-menu ul{
        flex-direction: column;
    }
    .nav-logo a{
        font-size: 20px;
    }
    .title{
        font-size: 30px;
    }
    .btn-primary{
        padding: 15px 20px;
        font-size: 16px;

    }
    .banner-img img{
        margin-bottom: 15px;
    }
    .article{
        margin-top: 40px;
    }
    .feature-items{
        display: flex;
        flex-direction: column;
    }
    .feature-img{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .img-part img{
        margin-top: 30px;
        width: 100%;
    }
    .experiance-btn {
        margin-left: 645px;
        margin-top: -250px;
        padding: 24px 105px;
    }
    #some-facts{
        margin-top: 200px;
    }
    .item{
        margin-top: 10px;
    }
    .sponsor-companys{
        flex-direction: column;
        align-items: center;
    }
    .company img{
        margin-top: 30px;
    }
    .our-team{
        text-align: center;
    }
    .members{
        grid-template-columns: repeat( 1, 1fr);
    }
    .member{
        margin-top: 30px;
    }
    
}

/* Responsive (Mobile Device)  */